.contentWrapper {
  align-items: center;
  font-size: 1.125rem; // 18px
  background-color: var(--color-background-2);
  padding: 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  .form {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    .todoInput {
      display: flex;
      align-items: center;
      width: 100%;
      .input {
        width: 100%;
        border: none;
        outline: none;
        background-color: var(--color-background-2);
        color: var(--color-text);
        font-size: 1.125rem; // 18px
      }
      .Checkbox {
        &:hover {
          color: #a281fa;
        }
      }
    }
    .todoDelete {
      color: gray;
    }
  }
  .input {
    width: 100%;
    border: none;
    outline: none;
    font-size: 1.125rem; // 18px
  }
}
